/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    --red: #EA5454;
    --cyan: #44D3D2;
    --orange: #FCAE4A;
    --blue: #549EF2;
    --slate: #4D4F62;
    --font-family: Poppins;
    --font-size: 16px;
    padding: 0;
    margin: 0;
}

/* 2. Typography Styles
======================================== */
h1, h2, h3, p {
    font-family: var(--font-family);
    color: var(--slate);
}

h1, h3 {
    font-weight: 600;
}

h1, h2 {
    font-size: 2.25em;
    letter-spacing: 0.015625em;
}

h2 {
    font-weight: 200;
}

h3 {
    font-size: 1.25em;
}

h1, h2, .opener {
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 0.8125em;
    line-height: 1.4375em;
    letter-spacing: 0.05625em;
}

.opener {
    font-size: 0.9375em;
    line-height: 1.5625em;
    letter-spacing: 0.00625em;
}

/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */

/* 5. Component Styles
======================================== */


/* 6. Page Styles
======================================== */


/* 7. Media Queries
======================================== */